@page {
  size: A4;
  @top-left {
    content: element(ats-headerLeft);
  }

  @top-right {
    content: element(ats-headerRight);
  }

  margin-top: 2.7cm;
  margin-bottom: 1.5cm;
  padding-bottom: 12px;
  padding-top: 15px;

  @bottom-left {
    border-top: 1px solid #118BD6;
    content: element(ats-footerLeft);
  }
  @bottom-right {
    border-top: 1px solid #118BD6;
    /*     content: counter(page) ' / ' counter(pages);*/
    content: element(ats-footerRight);
    font-size: 8pt;

  }
  @footnote {
    padding-bottom: 1px;
  }
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/HelveticaNeueRoman.ttf);
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url(fonts/HelveticaNeueBold.ttf);
}

.ats-report {
  font-weight: 400; /* 700 = bold */ /* 400 = light */
  font-style: normal;
  font-family: "Helvetica Neue";
}

thead {
  vertical-align: top;
}

.ats-txt-align-right {
  text-align: right;
  margin-right: 3px;
}

.ats-headerLeft {
  position: running(ats-headerLeft);
  font-size: 13px;
  line-height: 14px;
}

.ats-yellow {
  background-color: #FED647;
}

.ats-padding-bottom-20 {
  padding-bottom: 20px;
}

.ats-padding-bottom-40 {
  padding-bottom: 40px;
}

.ats-headerLeft img {
  width: 48px;
  height: 57.96px;
  float: left;
  margin-left: 1em;
  margin-top: 20px;
}

.ats-headerLeft .ats-company-details {
  margin-left: 10px;
  margin-top: 45px;
}

.ats-headerLeft .ats-company-details .ats-top-title {
  color: #007BC7;
}

.ats-headerRight {
  position: running(ats-headerRight);
  font-family: 'Helvetica Neue';
  font-size: 13px;
  line-height: 14px;
  margin-top: 3em;
  margin-right: -32px;
}

.ats-headerRight .ats-agreement-name {
  font-size: 9px;
  line-height: 9px;
  margin-bottom: 0.4em;
}

.ats-headerRight .ats-agreement-number {
  font-family: "Helvetica Neue Bold";
}

.ats-footerLeft {
  font-size: 10px;
  display: block;
  position: running(ats-footerLeft);
}

.ats-footerLeft div {
  margin-bottom: 3em;
}

.ats-footerRight {
  font-size: 10px;
  position: running(ats-footerRight);
  text-align: right;
}

.ats-footerRight div {
  margin-bottom: 3em;
}

.ats-pageNumber:before {
  content: counter(page);
}

.ats-pageCount:before {
  content: counter(pages);
}

.ats-main-page-logo {
  position: absolute;
  left: 53.1px;
  top: 410.25px;
}

.ats-main-page-logo img {
  width: 92px;
}

table.ats-table-last-td-yellow td:last-child {
  background-color: #FED647;
}

.ats-main-page-text .ats-base-text {
  position: absolute;
  left: 86px;
  top: 526px;
  font-size: 36px;
  line-height: 42px;
}

.ats-main-page-text .ats-date-name {
  position: absolute;
  left: 86px;
  top: 621px;
  font-size: 16px;
  line-height: 19px;
}

.ats-main-page-text .ats-date {
  float: left;
}

.ats-main-page-text .ats-top-title {
  float: left;
  margin-left: 14px;
}

.ats-page table {
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
}

.ats-page .ats-last {
  border-bottom-style: solid;
  border-bottom-color: #007BC7;
  border-width: 0.5px;
  padding-bottom: 10px;
}

.ats-page .ats-container p {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 11px;
  line-height: 16px;
  font-style: normal;
}

.ats-bold-text {
  font-family: 'Helvetica Neue Bold';
}

.ats-prices-volume-sum .footnote {
  font-style: normal;
  font-size: 9px;
  line-height: 9px;
}

.ats-page {
  padding-top: 15px;
  page-break-before: always;
}

.ats-page .ats-top-title {
  padding-left: 7px;
  font-size: 19px;
  line-height: 22px;
}

.ats-table-name {
  padding-top: 15px;
  padding-left: 7px;
  font-size: 13px;
  line-height: 15px;
  font-family: "Helvetica Neue Bold";
}

.ats-table-name-no-tab-space {
  margin-top: 40px;
  font-size: 11px;
  font-family: "Helvetica Neue Bold";
  line-height: 12px;
  font-style: normal;
}

.ats-page .ats-table-name-with-icon div {
  float: left;
}

.ats-page .ats-table-name-with-icon img {
  width: 15px;
  height: 15px;
  padding-left: 10px;
  padding-top: 14px;
}

.ats-page .ats-header-without-tab {
  padding-top: 25px;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 5px;
  font-family: "Helvetica Neue Bold";
}

.ats-text-label-11 {
  font-size: 11px;
  line-height: 12px;
}

.ats-text-label-9 {
  font-size: 9px;
  line-height: 10px;
  font-style: normal;
  font-family: "Helvetica Neue Bold";
}

.ats-font-9 {
  font-size: 9px;
  line-height: 10px;
  font-style: normal;
}

.ats-text-number {
  font-size: 9px;
  line-height: 10px;
}

th {
  font-weight: normal;
  font-family: "Helvetica Neue Bold";
}

.ats-total-unit-m3 {
  font-size: 18px;
}

.ats-general-unit-m3 {
  font-size: 7px;
}
.ats-float-left {
  float: left;
}

.ats-map-small {
  float: right;
}

.ats-map-large img {
  padding-top: 20px;
  float: left;
}

.ats-info-box {
  margin-top: 150px;
  float: left;
  width: 700px;
  height: 40px;
  background-color: #D9EBF7;
}

.footnote {
  float: footnote;
  text-align: left;
  margin-left: -7px;
  font-family: "Helvetica Neue";
}

.ats-top-padding-40 {
  margin-top: 40px;
}

.ats-info-box img {
  float: left;
  padding-top: 7px;
  padding-left: 10px;
  width: 15px;
  height: 15px;
}

.ats-info-box .ats-font-9 {
  padding-top: 10px;
  padding-left: 30px;
}

.ats-layout-left {
  float: left;
}

.ats-map-name-width {
  width: 250px;
}

.ats-legend-of-map img {
  float: left;
  width: 40px;
  height: 20px;
}

.ats-legend-of-map div {
  float: left;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
}

.ats-header-legend-map {
  margin-top: 120px;
}

.ats-header-legend-map-with-price-class {
    margin-top: 50px;
}

.ats-page-break {
  page-break-before: always;
}

.ats-page-break-inside {
  page-break-inside: avoid;
  display: block;
  width: 100%;
}

.ats-margin-top-20 {
  margin-top: 20px;
}

.ats-float-left {
  float: left;
}

.ats-float-right {
  float: right;
}

.ats-clear-both {
  clear: both;
}

.ats-margin-top-10 {
  margin-top: 20px;
}